travelontip-externalsystem/src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="e3d32640-9573-4147-b004-153fac396925" >
		<http:listener doc:name="Listener" doc:id="0c6a2a26-2707-41a2-a33e-63add15a09dd" config-ref="HTTP_Listener_config" path="${http.listner.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]">
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="9d7500b8-2aa3-4b4f-94ea-fc81fd04accd">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="65ebfdac-18d3-4a20-a26d-0b7810b188a7" message="Request received for TravelOnTip external system for Transaction Id: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="eea58d4a-6c63-4de8-aa45-8f354fff2c8f" >
			<when expression='#[vars.serviceType=="routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="e030be72-c538-4efc-9fc8-6e92af3406fe" message="Routes Flow Called  for TravelOnTip external system for Transaction Id: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="db4e7000-67b3-46aa-989e-27a2e547556f" name="TravelOnTip-GetRoutes-implementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType=="schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="153f1a9d-36b9-4760-a7bf-05f96f5a7605" message="Schedules Flow Called  for TravelOnTip external system for Transaction Id: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="a7506062-4257-48a8-9ffb-91f65027413f" name="TravelOnTip-GetSchedules-implementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="0d83e92a-9f9b-4d55-98a5-d7b56c9e17ea" message="URI Parameter is not Correct  for TravelOnTip external system for Transaction Id: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="0790055a-c1b8-4fdf-bc0d-09e64b9c3986" message="Response sent for TravelOnTip external system for Transaction Id: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="34a44817-5a37-4c5d-b1c1-ab0d915c7d6d" >
				<logger level="INFO" doc:name="Logger" doc:id="5e995c71-48ae-4479-b75e-94e287a74e23" message="Error Occured for TravelOnTip external system for Transaction Id: #[vars.transactionId] reason: #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="dbad3b4c-a1d3-463c-bbb4-a4b859b9d839" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMsg": "Error in TravelOnTip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
