flights-webapp-xpapi/src/main/mule/global/retrieveconsolidatedroutesandschedulesxpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrieveconsolidatedroutesandschedulesxpapi-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedulesxpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedulesxpapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedulesxpapi-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedulesxpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedulesxpapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="get:\booking\(transportType)\routes:retrieveconsolidatedroutesandschedulesxpapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    companyCode: "TransNational",
    originLocation: {
      locationCode: "BEN-SG",
      locationDesc: "Beauna Vista Singapore"
    },
    destinationLocation: {
      locationCode: "KLY-MY",
      locationDesc: "Klang Malaysia"
    }
  }, 
  {
    companyCode: "TransNational",
    originLocation: {
      locationCode: "BEN-SG",
      locationDesc: "Beauna Vista Singapore"
    },
    destinationLocation: {
      locationCode: "KLY-MY",
      locationDesc: "Klang Malaysia"
    }
  }, 
  {
    companyCode: "TransNational",
    originLocation: {
      locationCode: "BEN-SG",
      locationDesc: "Beauna Vista Singapore"
    },
    destinationLocation: {
      locationCode: "KLY-MY",
      locationDesc: "Klang Malaysia"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveconsolidatedroutesandschedulesxpapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    companyName: "TravelOnTip",
    availableSeats: 20,
    departureDateTime: "2019-04-30T16:41:41",
    travelRoute: {
      destinationLocation: {
        locationCode: "KLG-MY",
        locationDesc: "Klang Malaysia"
      },
      originLocation: {
        locationCode: "BEN-SG",
        locationDesc: "Beauna Vista Singapore"
      }
    }
  }, 
  {
    companyName: "FastGo",
    availableSeats: 30,
    departureDateTime: "2019-04-30T18:41:41",
    travelRoute: {
      destinationLocation: {
        locationCode: "KLG-MY",
        locationDesc: "Klang Malaysia"
      },
      originLocation: {
        locationCode: "BL-SG",
        locationDesc: "Beauna Vista Singapore"
      }
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
